:root {
  --gradient: linear-gradient(
    133deg,
    rgba(83, 223, 255, 1) 0%,
    rgba(255, 97, 192, 1) 68%,
    rgba(178, 133, 255, 1) 100%
  );
  --green: rgb(144, 230, 144);
  --green-dark: rgb(126, 199, 126);
  --red: rgb(255, 137, 156);
  --red-dark: rgb(245, 98, 122);
  --gray: rgb(185, 185, 185);
  --gray-dark: rgb(105, 105, 105);
  --blue: rgb(102, 208, 235);
  --blue-dark: rgb(2, 161, 209);
  --violet: rgb(178, 133, 255);
}

.bg-gradient {
  background: rgb(46, 195, 227);
  background: var(--gradient);
}

.btn {
  padding: 10px 10px;
}

.btn:active {
  transform: scale(0.95);
}

.bg-btn-green {
  background: var(--green);
}

.bg-btn-green:hover {
  background: var(--green-dark);
}

.bg-btn-red {
  background: var(--red);
}

.bg-btn-red:hover {
  background: var(--red-dark);
}

.bg-primary {
  background: var(--blue);
}

.bg-primary:hover {
  background: var(--blue-dark);
}

.bg-btn-gray {
  background: var(--gray);
}

.bg-btn-gray:hover {
  background: var(--gray-dark);
}

.bg-btn-violet-noHover {
  background: var(--violet);
}

.border-primary {
  border-color: var(--blue);
}

.text-primary {
  color: var(--gray);
}

.text-dark {
  color: var(--gray-dark);
}
