.background-modal-task {
  background: rgb(46, 195, 227);
  background: linear-gradient(
    133deg,
    rgba(83, 223, 255, 0.68) 0%,
    rgba(255, 97, 192, 0.68) 68%,
    rgba(178, 133, 255, 0.68) 100%
  );
}

.bg-btn-green {
  background: var(--green);
}

.bg-btn-green:hover {
  background: var(--green-dark);
}
